(
  axes: {},
  actions: {
    "n": [ [Key(W)] ],
    "s": [ [Key(S)] ],
    "e": [ [Key(D)] ],
    "w": [ [Key(A)] ],
    "next": [ [Key(Right)] ],
    "previous": [ [Key(Left)] ],
    "toggle_debug": [ [Key(F12)] ],
  },
)