(
  axes: {},
  actions: {
    "n": [ [Key(W)] ],
    "s": [ [Key(S)] ],
    "e": [ [Key(D)] ],
    "w": [ [Key(A)] ],
    "next_map": [ [Key(Right)] ],
    "previous_map": [ [Key(Left)] ],
    "next_char": [ [Key(Up)] ],
    "previous_char": [ [Key(Down)] ],
    "toggle_debug": [ [Key(F12)] ],
  },
)